<!-- home.handlebars -->
<!-- GIFY Search Bar -->
<h1>Search for GIFs</h1>

<form action="/giph/">
    <input type="text" name="term">
    <button type="submit">Search</button>
</form>

{{#each gifs}}
    <img src="{{this.images.fixed_height.url}}">
{{/each}}