<h1>{{title}}</h1>
<p>Not Presentations. Experiences</p>

<!-- Button for Gif Search -->
<form action="/giph/">
    <input type="text" name="term">
    <button type="submit"> Gify Search</button>
</form>

<!-- Button for Sticker Search -->
<form action="/giph/stickers">
    <input type="text" name="term">
    <button type="submit"> Sticker Search</button>
</form>