<div>
    <form action="/users" method="post">
        <legend>New User</legend>

        <!-- username -->
        <div class="form-group">
            <label for="user-username">Username</label>
            <input type="text" name="username" class="form-control" id="user-username" placeholder="Username">
        </div>

        <!-- password -->
        <div class="form-group">
            <label for="user-password">Password</label>
            <input type="password" name="password" class="form-control" id="user-password" placeholder="Password">
        </div>

        <!-- button -->
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>
</div>
